
<div class="card"  style="align-content: center;">

    <div class="form-group" class="col-xs-12">
        <div class="col-md-3" style="text-align: center;">
        <img src="./img/mercado.png" height="256px" width="256px">
        </div>
        <div class="col-md-3" style="text-align: center;">
            <div class="card">
                <h4 class="label-control">{{productos.nombre}}</h4>
                <hr>
                <strong>
                    <h2 class="label-control">S/. {{productos.precio}}.0</h2>
                </strong>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda porro modi totam provident
                    perferendis pariatur quis, dolor, culpa sequi repellat in sapiente fuga deserunt, sunt debitis magni
                    cumque voluptates. Mollitia!</p>
                <br>
                <br>
                <a type="button" class="btn btn-outline-success" href="#">Agregar al carrito</a>
                <a type="button" class="btn btn-outline-primary" href="#/registrar/{{productos.id}}">Registrar
                    Compra</a>
            </div>
        </div>
    </div>

</div>