

<!-- 
    <div class="row" ng-hide="loading || productos.length > 0">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                No se encontraron resultados
            </div>
        </div>
    </div> -->

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- Product main img -->
                <div class="col-md-7">
                    <div id="product-main-img">
                        <img src="./img/mercado.png" alt="" height="400px" width="500px">
                    </div>
                </div>
                <!-- /Product main img -->


                <!-- Product details -->
                <div class="col-md-5">
                    <div class="product-details">
                        <h2 class="product-name">{{productos.nombre}}</h2>
                        <div>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <a class="review-link" href="#">10 Review(s) </a>
                        </div>
                        <div>
                            <h3 class="product-price">${{productos.precio}} <del class="product-old-price">$99990.00</del></h3>
                            <span class="product-available">En Stock</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<!-- 
                        <div class="product-options">
                
                            <label>
                                Color
                                <select class="input-select">
                                    <option value="0">Red</option>
                                </select>
                            </label>
                        </div> -->

                     <div class="add-to-cart">
                            <div class="qty-label">
                                Cantidad
                                <div class="input-number">
                                    <input type="number"ng-model="cantidad.value" >
                                    <a type="button" class="qty-up" ng-click="addQty()">+</a>
                                    <a type="button" class="qty-down" ng-click="reduceQty()">-</a>
                                </div>
                            </div>
                        </div>
                        <div class="add-to-cart">
                        <a type="button" class="add-to-cart-btn"  ng-click="agregarCarrito()">Agregar al carrito</a>
                    </div>
                                <!-- <button class="add-to-cart-btn"><i class="fa fa-shopping-cart" ></i>add to cart</button>  -->
<!-- 
                        <ul class="product-links">
                            <li>Category:</li>
                            <li><a href="#">Headphones</a></li>
                            <li><a href="#">Accessories</a></li>
                        </ul> -->

                        <ul class="product-links">
                            <li>Compartir:</li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>

                    </div>
                </div>
                <!-- /Product details -->

                <!-- Product tab -->
                <div class="col-md-12">
                    <div id="product-tab">
                        <!-- product tab nav -->
                        <ul class="tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1">Descripcion</a></li>
                            <li><a data-toggle="tab" href="#tab2">Detalles</a></li>
                        </ul>
                        <!-- /product tab nav -->

                        <!-- product tab content -->
                        <div class="tab-content">
                            <!-- tab1  -->
                            <div id="tab1" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /tab1  -->

                            <!-- tab2  -->
                            <div id="tab2" class="tab-pane fade in">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /tab2  -->

                        </div>
                        <!-- /product tab content  -->
                    </div>
                </div>
                <!-- /product tab -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->



<!-- <div class="card"  style="align-content: center;">

    <div class="form-group" class="col-xs-12">
        <div class="col-md-3" style="text-align: center;">
        <img src="./img/mercado.png" height="256px" width="256px">
        </div>
        <div class="col-md-3" style="text-align: center;">
            <div class="card">
                <h4 class="label-control">{{productos.nombre}}</h4>
                <hr>
                <strong>
                    <h2 class="label-control">S/. {{productos.precio}}.0</h2>
                </strong>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda porro modi totam provident
                    perferendis pariatur quis, dolor, culpa sequi repellat in sapiente fuga deserunt, sunt debitis magni
                    cumque voluptates. Mollitia!</p>
                <br>
                <br>
                <a type="button" class="btn btn-outline-success" href="#">Agregar al carrito</a>
                <a type="button" class="btn btn-outline-primary" href="#/registrar/{{productos.id}}">Registrar
                    Compra</a>
            </div>
        </div>
    </div>

</div> -->